*{
  margin: 0;
  padding:0;
}

body{
  font-size: 0px;
}
$width: 300;

@function px2rem($px) {
  @return $px / $width * 1rem;
}
div{
  background-color: blueviolet;
  display: inline-block;
  width: px2rem(200);
  height: px2rem(200);
}
div + div{
  margin-left: px2rem(10);
}
section{
  height: 0.66667rem;
  width: 200%;
  overflow-x: auto;
}